body{
    background: #f5f5f5;
}
main{
    padding: 0px 20px 0px 20px;
    margin-top: 50px;
}
.logo{
    width: 120px;
    margin: 5px;
}
.settings-wrapper{
    margin-top: 60px; 
}
.settings-wrapper h1{
    font-size: 25px;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #D77F4E;
}
.searchButton{
    width: 200px;
}
.navbar-brand{
    padding: 2px;
}
.tagbox-wrapper{
   max-width: 100%;
    padding: 150px;
    background: 
        linear-gradient(
            rgba(0,0,0,.2), 
            rgba(0,0,0,.6)
        ), 
        url('../assets/asdasd.jpg') 0% 69%;
    -webkit-background-size: cover;
}
.add-new-notification{
    height: 0%;
}
.tagline, .taglineSmall{
    margin: 0 auto;
    color: white;
}
.site-tools{
    min-width: 25%;
    padding: 30px;
    margin-bottom: 20px;
    background: white;
    border-left: 5px solid #28363F;
    box-shadow: 2px 2px 3px #e0e0e0;
}
.payment-wrapper{
     border-left: 5px solid #D77F4E;
    box-shadow: 2px 2px 3px #e0e0e0;
     padding: 30px;
    margin-bottom: 20px;
    background: white;
    max-width: 100%;
}
.payment-button{
    display: inline;
    width: 100px;
    margin-right:10px;
}
.accountHeader{
    margin-top: 20px;
}
.add-notification{
    min-width: 25%;
    border-left: 5px solid #D77F4E;
    padding: 30px;
    margin-bottom: 20px;
    background: white;
    text-decoration: none;
    list-style: none;
    box-shadow: 2px 2px 3px #e0e0e0;
}
.add-notification p{
    display: inline;
    font-size: 25px;
    text-decoration: none; 
    color:#28363F;
    margin-right: 20px;
}
.add-notification a{
    text-decoration: none;
}
.add{
    background: #D77F4E;
    padding: 12px 15px;
    border-radius: 50%;
    color: white !important;
}
.add-text{
    max-width: 100%;
}
.chooseNormal{
    margin-bottom: 10px;
}
article{
    min-width: 70%;
    /*background: white; */
}
.guidebar1, .guidebar2{
    padding: 7px;
    min-height: 100%;
    position: absolute;
    left: 50%;
    background: #28363F;
    z-index: -1;
    opacity: 0.9;
}
.guidebar2{
    padding: 4px;
    left: 45%;
    background: #D9B38E;

}
.notificationsTitle{
    color: #D77F4E;
}

.notification{
    margin-bottom: 30px;
    background: none;
    padding-bottom: 20px;
    max-width: 100%;
}
.notification-content-wrapper{
    opacity: 0.96;
    background: white;
    padding: 20px;
    border: 1px solid #e0e0e0;
}
.notification-content{
    margin: 20px 0px 20px 50px;
    max-width: 75%;
    margin-left: 30px;
}
.notification-image > img{
    max-width: 300px;
    margin-left: 30px;
}
.fileUpload > input{
    max-width: 100%;
}
.fileUpload{
    max-width: 100%;
}
.btn-file{
    max-width: 100%;
}
.notification-header{
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
    background: #e0e0e0;
    padding: 5px;
}
.notification-header h2{
    color: #505050;
    margin-top: 10px;
    margin-left: 10px;
}
.notification-owner {
    padding: 10px;
    max-width: 100%;
    margin-top: 10px;
    background: white;
    opacity: 0.96;
    width: 50%;
    border-radius: 0 0 0 25px;
    border: 1px solid #e0e0e0;
    border-right: none;
}
.notification-owner p{
    display: inline;
   width: 300px;
}
.notification-owner-image{
    max-width: 40px;
    border-radius: 50%;
    display: inline;
}
.noMore{
    margin: 0 auto;
    text-align: center;
    background-color: white;
    width: 300px;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 12px;
}
.noMore h3{
    margin: 0;
}
.loaddata{
    margin: 0 auto;
    height: 45px;
    width: 120px;
    border-color: #e0e0e0;
    width: 200px;
}
.loaddata:hover{
    border-color: #D9B38E;
    background-color: white;
}
.button-holder{
    margin: 0 auto;
    width:200px;
    margin-bottom: 20px;
}
.publish{
    margin-left: 10px;
}
.settings-desc{
    display: inline;
    margin-left: 10px;
    font-size: 15px
}
.profilePicture{
    width: 40px;
    margin: 0;
    position: absolute;
    left: -36px;
    top: 5px;
    border-radius: 50%;
}
.settings{
    margin-top: 10px;
}
.account > div {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 0 25px 25px 0;
    width: 200px;
    margin-bottom: 10px;
}
.settings-username{
    /*max-width: 200px; */
}
.account-type{
    display: inline;
}
.normal, .premium, .advertiser{
    border-radius: 50%;
    background:#B0D7D2;
    width: 20px;
    float: right;
   /* display: inline-block; */
    height: 20px;
}
.premium{
    background:#3D6D71;
}
.advertiser{
    background: #1C3A3E;
}
footer{
    height: 60px;
    background-color:#0A0C0E;
    color: white;
    width: 100%;
    padding-top: 20px;
    opacity: 0.9;
}
footer p{
    margin: 0 auto;
    width: 200px;
}
.owner-name, .owner-email, .owner-number{
    display: inline;
    margin-left: 10px;
}
.short{
    position: fixed;
    bottom: 0;
}
.loginModal{
    z-index: 999;
}
.loginModalOption{    
    margin: 0 auto;
}
.loginModalButton{
    width: 200px ;
}
.removeCard{
    float: right;
}
.addedCard{
    padding: 10px;
    background-color: #e0e0e0;
}
.preview{
    padding: 10px;
    max-width: 100%;
    margin-top: 10px;
    background: white;
    opacity: 0.96;
    max-width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 0 0 0 25px;
}
@media only screen and (max-width : 768px) {
    .notification-owner {
        width: 100%;
        border-radius: 0 0  0 25px;
        margin-top: 5px;
    }
    .changeUserName{
     /*   width: 100px;
        margin:10px; */
    }
    .settings-main-wrapper{
        padding: 10px;
    }
    .add-notification, .site-tools{
        padding: 30px 10px;
    }
    .guidebar2{
        left: 60%;
    }
    .notification{
        max-width: 100%;
    }
    .tagbox-wrapper{
        padding: 80px 50px 80px 50px;
    }
    .short{
        position: absolute;
        bottom: 0;
        display: block;
    }
    .ownAccount{
        position: relative;
        bottom: none;
        
    }
    .notification-content, .notification-image img{
        margin: 0;
        max-width: 100%;
    }
    .profilePicture{
        display: none;
    }
    aside{
        position: relative;
        margin-top:  none;
        top: none;
    }
    .accountHeader h2{
        font-size: 20px;
    }
}

