body{
    background: #f5f5f5;
}
main{
    padding: 0px 20px 0px 20px;
    margin-top: 50px;
}
.logo{
    width: 120px;
    margin: 5px;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #D77F4E;
}
.navbar-brand{
    padding: 2px;
}
.tagbox-wrapper{
   max-width: 100%;
    padding: 150px;
    background: 
        linear-gradient(
            rgba(0,0,0,.2), 
            rgba(0,0,0,.6)
        ), 
        #28363F;
    -webkit-background-size: cover;
}
.add-new-notification{
    height: 0%;
}
.tagline, .taglineSmall{
    margin: 0 auto;
    color: white;
}
.site-tools{
    min-width: 25%;
    padding: 30px;
    margin-bottom: 20px;
    background: white;
    border-left: 5px solid #28363F;
}
.add-notification{
    min-width: 25%;
    border-left: 5px solid #D77F4E;
    padding: 30px;
    margin-bottom: 20px;
    background: white;
    text-decoration: none;
    list-style: none;
}
.add-notification p{
    display: inline;
    font-size: 25px;
    text-decoration: none; 
    color:#28363F;
    margin-right: 20px;
}
.add-notification a{
    text-decoration: none;
}
.add{
    background: #D77F4E;
    padding: 12px 15px;
    border-radius: 50%;
    color: white !important;
}

.add-text{
    max-width: 100%;
}
article{
    min-width: 70%;
    /*background: white; */
}
.guidebar1, .guidebar2{
    padding: 7px;
    min-height: 100%;
    position: absolute;
    left: 50%;
    background: #28363F;
    z-index: -1;
    opacity: 0.9;
}
.guidebar2{
    padding: 4px;
    left: 45%;
    background: #D9B38E;

}
.notificationsTitle{
    color: #D77F4E;
}

.notification{
    margin-bottom: 30px;
    background: none;
    padding-bottom: 20px;
    max-width: 100%;
}
.notification-content-wrapper{
    opacity: 0.96;
    background: white;
    padding: 20px;
}
.notification-content{
    margin: 20px 0px 20px 50px;
    max-width: 75%;
   /* border-left: 4px solid #D9B38E; */
    padding-left: 10px;
    margin-left: 30px;
}
.notification-header{
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
   /* background: #99B0BD; */
    background: #e0e0e0;
    padding: 5px;
    /*box-shadow: 0px 2px 1px #e0e0e0;*/
}
.notification-header h2{
    /*color: #28363F; */
    color: #505050;
    margin-top: 10px;
    margin-left: 10px;
}
.notification-owner {
    padding: 10px;
    max-width: 100%;
  /*  border-top:3px solid #D2D9C9; */
    margin-top: 10px;
    background: white;
    opacity: 0.96;
    width: 50%;
    border-radius: 0 0 0 25px;
}
.notification-owner p{
    display: inline;
   width: 300px;
}
.notification-owner-image{
    max-width: 40px;
    border-radius: 50%;
    display: inline;
}
.noMore{
    margin: 0 auto;
    text-align: center;
    background-color: white;
    width: 300px;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.loaddata{
    margin: 0 auto;
    height: 45px;
    width: 120px;
    border-color: #e0e0e0;
    width: 200px;
}
.loaddata:hover{
    border-color: #D9B38E;
    background-color: white;
}
.button-holder{
    margin: 0 auto;
    width:200px;
    margin-bottom: 20px;
}

footer{
    height: 60px;
    background-color: #28363F;
    color: white;
    width: 100%;
    padding-top: 20px;
    opacity: 0.9;
}
footer p{
    margin: 0 auto;
    width: 200px;
}
@media only screen and (max-width : 768px) {
    .notification-owner {
        width: 100%;
        border-radius: 0 0  0 25px;
        margin-top: 5px;
    }
    .guidebar2{
        left: 60%;
    }
    .notification{
        max-width: 100%;
    }
}
